@media(max-width:1400px){
    .banner_item{
        height: auto;
    }

    .about_heading {
        padding: 0 16px;
    }
    .overly .overly_content p {
        padding-left: 14px;
    }
}


@media(min-width:1200px) and (max-width:1399.98px){
    /* banner part */
    .banner_item h4 {
        font-size: 60px;
        letter-spacing: 19px;
    }
    .banner_item h5 {
        font-size: 28px;
    }
    .banner_item p {
        font-size: 16px;
    }

    /* about part */
    .about_heading {
        padding: 0 9px;
    }

}


@media(min-width:992px) and (max-width:1199.98px){



    /* banner part */
    .banner_item h5 {
        font-size: 23px;
    }
    .banner_item h4 {
        font-size: 43px;
    }
    .banner_item p {
        font-size: 16px;
    }

    /* about part */

    .about_heading {
        padding: 0 24px;
    }

    .preloader_inner img {
        width: 750px;
    }
}



@media(min-width:768px) and (max-width:991.98px){
    /* ----menu part----- */
    #my_nav ul li {
        padding: 12px 0px;
    }
    .custom_nav {
        padding: 9px 0;
    }

    /* ----banner part --- */
    .banner_item h5 {
        font-size: 22px;
        margin-bottom: 4px;
    }
    .banner_item h4 {
        font-size: 35px;
        letter-spacing: 14px;
    }
    .banner_item p {
        font-size: 16px;
    }
    .banner_item p {
        margin-bottom: 33px;
    }
    .banner_item a {
        margin-top: 45px;
    }

    /* ----about part ---- */
    #about {
        margin-top: 90px;
        margin-bottom: 80px;
    }
    .border_item {
        border-right: none;
    }
    .about_item h3 {
        margin-top: 18px;
    }

    /* ----work part----- */
    #work {
        margin-top: 90px;
        margin-bottom: 95px;
    }

    .work_heading p {
        padding: 0 21px;
    }
    .overly .overly_content p {
        padding: 0 159px;
    }

    /* -----service part------ */
    .service_heading p {
        padding-right: 108px;
    }
    /* -----contact part------ */
    .contact_heading p {
        padding: 0 21px;
    }

    .preloader_inner img {
        width: 700px;
    }

    .backTop {
        right: 25px;
    }
}



@media(min-width:576px) and (max-width:767.98px){
    /* ----menu part----- */
    #my_nav ul li {
        padding: 10px 0px;
    }
    .custom_nav {
        padding: 8px 0;
    }

    /* -=----about part----- */
    #about {
        margin-top: 88px;
        margin-bottom: 70px;
    }
    .about_heading {
        margin-bottom: 65px;
    }
    .about_item i {
        padding-top: 25px;
    }
    .border_item {
        border-right: none;
    }
    .about_item h3 {
        margin-top: 25px;
    }
    /* ------work part ----- */
    #work {
        margin-top: 88px;
        margin-bottom: 95px;
    }

    .preloader_inner img {
        width: 500px;
    }
    .backTop {
        right: 23px;
    }

}



@media(max-width:575.98px){
    /* -----menu part----- */
    .custom_nav {
        padding: 12px 0;
    }

    #my_nav ul li {
        padding: 7px 0px;
    }
    /* ---about part----- */
    #about {
        margin-top: 67px;
        margin-bottom: 30px;
    }
    .about_item h3 {
        margin-top: 25px;
        margin-bottom: 18px;
    }

    .about_heading h2 {
        font-size: 36px;
    }
    .about_heading p span {
        display: none;
    }
    .about_heading {
        margin-bottom: 58px;
    }
    .about_item i {
        padding-top: 10px;
    }
    .border_item {
        border-right: none;
    }
    .about_item h3 {
        margin-top: 18px;
    }
    /* service part */
    #service {
        padding-top: 45px;
        padding-bottom: 62px;
    }
    .service_heading h2 {
        margin-bottom: 20px;
    }
    .service_heading h2{
        font-size: 36px;
    }
    .service_heading img {
        
        margin-bottom: 22px;
    }

    /* -----work part----- */
    #work {
        margin-top: 67px;
        margin-bottom: 67px;
    }
    .work_heading h2 {
        padding-bottom: 20px;
    }
    .work_heading img {
        margin-bottom: 28px;
    }
    .work_heading h2 {
        font-size: 36px;
    }
    .work_heading p {
        margin-bottom: 70px;
    }

    /* ----contact part----- */
    .contact_heading h2 {
        font-size: 36px;
    
    }
    .contact_heading h2 {
        margin-bottom: 20px;
    }
    .contact_heading img {
        margin-bottom: 28px;
    }
    .contact_heading {
        margin-bottom: 70px;
    }

    .preloader_inner img {
        width: 360px;
    }

    .backTop {
        right: 15px;
    }
}