@media(max-width:1400px){
    .banner_item{
        height: auto;
    }
}


@media(min-width:1200px) and (max-width:1399.98px){

}


@media(min-width:992px) and (max-width:1199.98px){

}



@media(min-width:768px) and (max-width:991.98px){

}



@media(min-width:576px) and (max-width:767.98px){

}



@media(max-width:575.98px){
    .custom_nav {
        padding: 8px 0;
    }

    #my_nav ul li {
        padding: 7px 0px;
    }
    #about {
        margin-top: 60px;
        margin-bottom: 40px;
    }

    .about_heading h2 {
        font-size: 36px;
    }
    .about_heading p span {
        display: none;
    }
    .about_heading {
        margin-bottom: 70px;
    }
    .about_item i {
        padding-top: 10px;
    }

    #service {
        padding-top: 25px;
        padding-bottom: 63px;
    }
    .service_heading img {
        margin-top: 22px;
        margin-bottom: 22px;
    }
}