@media(max-width:1400px){
    .banner_item{
        height: auto;
    }
}


@media(min-width:1200px) and (max-width:1399.98px){

}


@media(min-width:992px) and (max-width:1199.98px){

}



@media(min-width:768px) and (max-width:991.98px){

}



@media(min-width:576px) and (max-width:767.98px){

}



@media(max-width:575.98px){
    /* -----menu part----- */
    .custom_nav {
        padding: 12px 0;
    }

    #my_nav ul li {
        padding: 7px 0px;
    }
    /* ---about part----- */
    #about {
        margin-top: 67px;
        margin-bottom: 30px;
    }
    .about_item h3 {
        margin-top: 25px;
        margin-bottom: 18px;
    }

    .about_heading h2 {
        font-size: 36px;
    }
    .about_heading p span {
        display: none;
    }
    .about_heading {
        margin-bottom: 58px;
    }
    .about_item i {
        padding-top: 10px;
    }
    /* service part */
    #service {
        padding-top: 35px;
        padding-bottom: 62px;
    }
    .service_heading img {
        margin-top: 22px;
        margin-bottom: 22px;
    }
}